.App {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.like-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: mediumseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: solid 1px #f2f2f2;
  transition: all 200ms ease-in-out;
}

.fa-thumbs-up{
  color: #f2f2f2;
}

.countered{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 35px;
  color: white;
  border-radius: 50%;
  background-color: mediumseagreen;
  padding: 6px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  opacity: 1;
  top: -35px;
}

.circlerCounter{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(95, 142, 241);
  position: absolute;
  z-index: -1;
}

.bigger {
  transform: rotate(-30deg) scale(1.3);
}
